<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32802851484-s6vgijnk0e8guc076g892404s7mt3ljb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32802851484-s6vgijnk0e8guc076g892404s7mt3ljb</string>
	<key>API_KEY</key>
	<string>AIzaSyCxTnoFlRSwdmR1WTdTUFPx0jyjGax3GpI</string>
	<key>GCM_SENDER_ID</key>
	<string>32802851484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitTracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-240f4</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-240f4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32802851484:ios:f8a2232c8bf9331c557b59</string>
</dict>
</plist>